* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main-nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
     background-color: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 12px;

    padding: 1rem 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

    margin: 1rem auto;
    max-width: 1200px;


}
.nav-list{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-list a{
    text-decoration: none;
    list-style-type: none;
    color: #333;

}